body{
    margin: 0;
    padding: 0;
    background: rgb(203, 202, 202);
}
nav{
    width: 100%;
    background: rgb(105, 216, 238);
    overflow: auto;
}
ul{
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
    
}
li{
    float: right;
}
.logo img{
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    width: 8%;
    height: 12%;
}
nav a{
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: Arial;
    color: #ffffff;
    text-align: center;
}
nav a:hover{
    background: white;
    color: aqua;
    transition: 0.5s;
    text-transform: uppercase;
}